@{
    ViewData["Title"] = "Home Page";
}

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

<style>

    body {
        font-family: Arial, Helvetica, sans-serif;
        background-image: url('https://images5.alphacoders.com/919/919004.jpg');
        background-attachment: fixed;
        background-size: cover;
    }

    /* Style the header */
    header {
        background-color: #fff;
        text-align: center;
        color: white;
    }

    /* Container for flexboxes */
    section {
        display: -webkit-flex;
        display: flex;
        width: 70%;
    }

    /* Style the navigation menu */
    nav {
        -webkit-flex: 1;
        -ms-flex: 1;
        flex: 1;
        background-color: #fff;
        padding: 20px;
        vertical-align: bottom;
    }

    .login {
        width: 50px;
    }

    /* Style the content */
    article {
        -webkit-flex: 1;
        -ms-flex: 1;
        flex: 1;
        padding: 30px;
        background: rgba(255, 255, 255, 0.8)
    }

    fieldset {
        -webkit-flex: 3;
        -ms-flex: 3;
        flex: 3;
        background-color: #f1f1f1;
        padding: 30px;
    }

    /* Style the footer */
    footer {
        background-color: #fff;
        text-align: center;
        color: white;
    }

    box {
        display: -ms-flexbox;
        display: -webkit-box;
        display: flex;
        -ms-flex-align: center;
        -ms-flex-pack: center;
        -webkit-box-align: center;
        align-items: center;
        -webkit-box-pack: center;
        justify-content: center;
        padding-top: 40px;
        padding-bottom: 40px;
    }

    .form-signin {
        width: 100%;
        max-width: 330px;
        padding: 15px;
        margin: 0 auto;
    }

        .form-signin .checkbox {
            font-weight: 400;
        }

        .form-signin .form-control {
            position: relative;
            box-sizing: border-box;
            height: auto;
            padding: 10px;
            font-size: 16px;
        }

            .form-signin .form-control:focus {
                z-index: 2;
            }

        .form-signin input[type="email"] {
            margin-bottom: -1px;
            border-bottom-right-radius: 0;
            border-bottom-left-radius: 0;
        }

        .form-signin input[type="password"] {
            margin-bottom: 10px;
            border-top-left-radius: 0;
            border-top-right-radius: 0;
        }
</style>
@model SoftwareEngineering.Models.DTOs.RegisterUserDTO
<body>
    <div style="padding: 30px;"></div>
    <section>

        <nav class="login">
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)
            @if (@ViewBag.Message != null)
            {
                <div style="border: 1px solid red">
                    @ViewBag.Message
                </div>
            }
            <body2 class="text-center">
                <form class="form-signin" enctype="multipart/form-data" method="post" action="/api/User/Login">
                    <h1 class="h3 mb-3 font-weight-normal">Login</h1>
                    <label for="inputEmail" class="sr-only">Email address</label>
                    <input asp-for="Email" type="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
                    <label for="inputPassword" class="sr-only">Password</label>
                    <input asp-for="Password" type="password" id="inputPassword" class="form-control" placeholder="Password" required>
                    <div class="checkbox mb-3">
                        <label>
                            <input type="checkbox" value="remember-me"> Remember me
                        </label>
                    </div>
                    <button class="btn btn-lg btn-primary btn-block" type="submit">Login</button>
                    <button type="button" class="btn btn-secondary btn-lg btn-block" onclick="@("window.location.href='" + @Url.Action("Register", "Home") + "'");">Register</button>
                </form>
            </body2>
        </nav>
    </section>
    <div style="padding: 10px"></div>
    <section>
        <article>
            <p>
                In eget nisl id sapien gravida posuere. Aliquam consequat eget massa a tristique. Vivamus id ex pellentesque, rhoncus metus in, euismod nulla. Mauris quis pretium dui, vitae suscipit nibh. Nulla condimentum porttitor orci a posuere. Nunc placerat egestas rutrum. Interdum et malesuada fames ac ante ipsum primis in faucibus. Sed varius semper risus et posuere.
            </p>
            <p>
                In eu tristique dui. Sed felis felis, finibus maximus consectetur at, blandit vel mauris. Mauris efficitur justo erat, vitae molestie felis lobortis id. Pellentesque accumsan massa sagittis nisl tristique porta. Proin a lorem congue, congue nibh eget, tempus neque. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Sed at libero orci. Maecenas porta elit non egestas dapibus. Mauris consectetur, nisl vitae consectetur sodales, justo lorem efficitur elit, auctor posuere quam tellus id ligula.
            </p>
        </article>
    </section>
    <div style="padding: 30px"></div>
</body>